* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("./assets/images/images.jpg");
  background-size: cover;
  background-position: center;
  /* background: linear-gradient(); */
  height: 100vh;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
  align-items: center;
  flex-wrap: wrap;
}
.nav-left {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-link {
  color: white;
  font-size: 18px;
  margin-left: 20px;
}

.nav-left h1 {
  color: white;
}

.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.search-bar {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 10px;
}

.connect-btn {
  border-radius: 7px;
  padding: 10px 10px;
  cursor: pointer;
  background-color: rgb(250, 6, 132);
  border: none;
}
.hero-text {
  width: 60%;
  color: white;
  font-size: 20px;
  padding: 30px;
}

/* .hero-text h1 {
  color: rgb(255, 0, 0);
} */

.hero-text h1,
h2 {
  margin-bottom: 20px;
}

.hero-btn {
  display: flex;
  gap: 20px;
  padding: 5px 30px;
}

.buy-btn {
  padding: 10px;
  /* border-radius: 10px; */
  width: 150px;
  background-color: #509fc7;
  border: none;
  color: white;
  cursor: pointer;
}

.started-btn {
  padding: 10px;
  /* border-radius: 10px; */
  width: 150px;
  background-color: rgb(250, 6, 132);
  border: none;
  color: white;
  cursor: pointer;
}

.products-container{
  /* align-items: center; */
  text-align: center;
}

.products-container h1{
  color: white;
  padding: 20px;
}

.products {
  display: flex;
  justify-content: space-between;
}

.products-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.product-card {
  flex: 1;
  padding: 20px 30px;
  border: 0.5px solid #ddd;
  transition: all 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 0 1px rgb(4, 22, 93);
  color: white;
  width: 200px;

}

.product-card:hover {
  box-shadow: 0 0 10px rgb(4, 22, 93);
  transform: translateY(-20px);
}
.bitcoin-icon {
  size: 100px;
}
