* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("./assets/images/hero-bg.png");
  background-size: cover;
  background-position: center;
  /* background: linear-gradient(); */
  height: 100vh;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.nav-items {
  display: flex;
  gap: 10px;
}

.hero {
}

.hero h1 {
  color: white;
}
